
<div class = "callout left">
    <%= @questions %>
    <p><em>-You</em></p>

  <%# <div class = "callout left"> %>
    <%= @response %>
    <p><em>-Your Coach</em></p>
  <%# </div> %>
<a href="/ask">Ask a new question</a>
  </div>
